<h1>Websocket</h1>

<form>
    <input type="text" name="text" id="textInput" />
    <button type="button" id="add">Agregar mensaje</button>
</form>

<div id="textOutput"></div>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>